<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/paddycure_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/paddycure_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
  
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.scan.history.detail.DetailHistoryActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDTnM3PvnqgRD6XFQ9_OYVV6i_r0F_RLZw" />

        <activity
            android:name=".ui.profile.profileedit.ProfileEditActivity"
            android:exported="false"
            android:label="@string/title_activity_profile_edit"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".ui.product.productdetails.ProductDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_product_details"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDTnM3PvnqgRD6XFQ9_OYVV6i_r0F_RLZw" />

        <activity
            android:name=".ui.product.cart.CartActivity"
            android:exported="false"
            android:label="@string/title_activity_cart"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".ui.scan.result.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.scan.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SecondActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".ui.scan.preview.PreviewActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>